/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Georgia, serif;
  font-size: 17px;
  letter-spacing: 4px;
  word-spacing: 1.6px;
  color: #000000;
  font-weight: 400;
  text-decoration: none solid #444444;
  font-style: normal;
  font-variant: normal;
  text-transform: lowercase;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: inline-block;
  margin-top: 40px;
}
.introduction {
  display: inline-flex;
  align-items: center;
}
.introduction p {
  padding-top: 20px;
}
.introduction #mainimg {
  height: 50%;
  width: 50%;
  display: inline-block;
}
.introduction .intro h1 {
  padding-left: 20px;
  padding-top: 50px;
  text-transform: capitalize;
  font-size: 55px;
}
@media screen and (max-width: 768px) {
  .introduction {
    float: none;
    display: block;
    font-size: 13px;
  }
  .introduction #mainimg {
    height: 240px;
    width: 240px;
    margin-left: 15px;
  }
}
h1 {
  font-size: 20px;
}
p {
  padding: 15px;
  padding-top: 10px;
  display: inline-block;
  text-align: left;
}
.mainsection div {
  padding: 15px;
  padding-left: 50px;
  display: inline-block;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  text-align: center;
  height: 450px;
  width: 450px;
}
.mainsection div h2 {
  padding: 15px;
  margin-left: 35px;
  padding-bottom: 0px;
  text-align: left;
  font-size: 25;
}
.recipeblock1,
.recipeblock2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
.mainsection a {
  box-shadow: inset 0px 1px 0px 0px #f7c5c0;
  background: linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
  background-color: #fc8d83;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.mainsection a:hover {
  background: linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
  background-color: #e4685d;
}
.mainsection a:active {
  position: relative;
  top: 1px;
}
#subheader .links {
  text-align: right;
  background: blue;
}
nav.links {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
nav.links li {
  display: inline-block;
  padding: 0 1em 0 0;
}
nav.links li:last-child {
  padding-right: 0;
}
nav.links li .links {
  color: inherit;
}
nav.links li.links:before {
  font-size: 1.25em;
}
#cssmenu {
  background: #f96e5b;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
  justify-content: space-evenly;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: Georgia, serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -ms-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: 0.5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width 0.25s;
  -moz-transition: width 0.25s;
  -ms-transition: width 0.25s;
  -o-transition: width 0.25s;
  transition: width 0.25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
header {
  color: #1B1B1B;
  font-size: 20px;
  display: inline-flex;
  font-family: Georgia, serif;
  font-size: 35px;
  letter-spacing: 1px;
  word-spacing: 0.8px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  padding-top: 50px;
  width: 100%;
}
header h2 {
  margin-right: 0;
  padding-left: 5%;
}
header h4 {
  margin-left: 15px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: capitalize;
  line-height: inherit;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .login {
  padding-left: 200px;
  color: #000000;
}
header #signup {
  font-size: 15px;
  padding-left: 20px;
  color: #000000;
}
