/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
img {
  height: 205px;
  width: 330px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 40px;
}
.navbar a {
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  text-align: center;
  border: 1px red solid;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
h1 {
  font-size: 26px;
}
p {
  font-size: 20px;
  padding: 15px;
  padding-top: 0px;
  display: inline-block;
  text-align: left;
  border: 10px black solid;
}
.mainsection {
  border: 5px solid blue;
}
.mainsection div {
  padding: 15px;
  padding-left: 50px;
  border: 5px red solid;
  display: inline-block;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  text-align: center;
  height: 450px;
  width: 450px;
}
.mainsection div h2 {
  padding: 15px;
  margin-left: 35px;
  padding-bottom: 0px;
  text-align: left;
  border: 9px aqua solid;
}
.recipeblock1,
.recipeblock2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
button {
  height: 50px;
  width: 180px;
  border-radius: 15px;
  border: 1px green solid;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  margin-top: 20px;
  margin-bottom: 30px;
}
#subheader .links {
  text-align: right;
  background: blue;
}
nav.links {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
nav.links li {
  display: inline-block;
  padding: 0 1em 0 0;
}
nav.links li:last-child {
  padding-right: 0;
}
nav.links li .links {
  color: inherit;
}
nav.links li.links:before {
  font-size: 1.25em;
}
header {
  background: blue;
}
#header a {
  text-decoration: none;
  color: #1B1B1B;
  font-size: 26px;
}
#header #logo {
  border: red 10px solid;
}
#header .icons {
  text-align: right;
}
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
ul.icons li:last-child {
  padding-right: 0;
}
ul.icons li .icon {
  color: inherit;
}
ul.icons li .icon:before {
  font-size: 1.25em;
}
