
header{
    background: blue;
}

#header a{
    // border:red 5px solid;
    text-decoration:none;
    color:@fontcolor;
    font-size:@headersize;
}

//Social Media Icons in Header Nav bar. 
#header #logo {
    border:red 10px solid;
}

#header .icons {
    text-align: right;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}
ul.icons li {
    display:inline-block;
    padding: 0 1em 0 0;
}
ul.icons li:last-child {
    padding-right: 0;
}
ul.icons li .icon {
    color:inherit;
}
ul.icons li .icon:before {
    font-size: 1.25em;
}