
// This details styles for the home-page. 
*{
    box-sizing: border-box;
}
body{
    margin-left:@bodymargin;
    margin-right:@bodymargin;
    margin-top:@bodymargin-top;
    margin-bottom:80px;
    font-family: Georgia, serif;
    font-size: 17px;
    letter-spacing: 4px;
    word-spacing: 1.6px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: lowercase;
}



img{
    height:@imgheight;
    width:@imgwidth;
    border-radius:15px;
    display:inline-block;
    margin-top:40px;
}

.introduction {
    display:inline-flex;
    align-items: center;
    
    p{
        padding-top:20px;
    }
    #mainimg{
        height:50%;
        width:50%;
        display:inline-block;
    
    }
    
}

.introduction .intro h1{
    padding-left:20px;
    padding-top:50px;
    text-transform: capitalize;
    font-size:55px;
}

@media screen and (max-width: 768px) {
    .introduction {
        float: none;
        display: block;
        font-size:13px;
        #mainimg{
            height:240px;
            width:240px;
            margin-left:15px;
        }
    }
}



h1 {
    font-size:@headersize;
}

p {
    display:inline-block;
    padding: 15px;
    padding-top:10px;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: flex-start;
        // align-items: stretch;
        // align-content: stretch;
        text-align:left;
    // border: 1px black solid
};




.mainsection div {//this wraps each of the 4 divs containing img,h2,<p>, any setting here applies to the inside of the div. 
    
    margin-left:20px;
    padding:@contentpadding;
    // padding-left:50px;
    // border: 5px red solid;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    // justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    // text-align:center;
    height:@contentsize;
    width:@contentsize;
        h2{
            padding:@contentpadding;
            margin-left:25px;
            padding-bottom:0px;
            text-align:left;
            font-size:25px;
            text-transform: capitalize;
            // border: 9px aqua solid;
        }
        p{
            padding:25px;
        }
       
}



// .recipeblock1, .recipeblock2{
//         display: flex;
//         flex-direction: row;
//         flex-wrap: wrap;
//         justify-content: flex-start;
//         align-items: stretch;
//         align-content: stretch;
        
        
// }

// .mainsection {
    // height:50px;
    // width:180px;
    // border-radius:15px;
    // border: 10px green solid;
    // font-family:inherit;
    // font-size:inherit;
    // color:inherit;
    // margin-top: 20px;
    // margin-bottom: 30px;

//     a{box-shadow:inset 0px 1px 0px 0px #f7c5c0;
//     background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
//     background-color:#fc8d83;
//     border-radius:6px;
//     border:1px solid #d83526;
//     display:inline-block;
//     cursor:pointer;
//     color:#ffffff;
//     font-family:Arial;
//     font-size:15px;
//     font-weight:bold;
//     padding:6px 24px;
//     text-decoration:none;
//     text-shadow:0px 1px 0px #b23e35;
//     }
//     a:active {
//         position:relative;
//         top:1px;
//     }
//     a:hover {
//         background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
//         background-color:#e4685d;
//     }
// }

.mainsection button{
    margin-left:50px;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #6e5773 5%, #6e5773 100%);
	background-color:#6e5773;
	border-radius:6px;
	border:1px solid #6e5773;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.mainsection button:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
.mainsection button:active {
	position:relative;
	top:1px;
}