
// This details styles for the home-page. 
*{
    box-sizing: border-box;
}
body{
    margin-left:@bodymargin;
    margin-right:@bodymargin;
    margin-top:@bodymargin-top;
    margin-bottom:@bodymargin-top;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


img{
    height:@imgheight;
    width:@imgwidth;
    border-radius:15px;
    display:inline-block;
    margin-top:40px;
}

//imported from generator
#cssmenu {
background: #f96e5b;
width: auto;
}
#cssmenu ul {
list-style: none;
margin: 0;
padding: 0;
line-height: 1;
display: block;
zoom: 1;
justify-content: space-evenly;
}
#cssmenu ul:after {
content: " ";
display: block;
font-size: 0;
height: 0;
clear: both;
visibility: hidden;
}
#cssmenu ul li {
display: inline-block;
padding: 0;
margin: 0;
}
#cssmenu.align-right ul li {
float: right;
}
#cssmenu.align-center ul {
text-align: center;
}
#cssmenu ul li a {
color: #ffffff;
text-decoration: none;
display: block;
padding: 15px 25px;
font-family: Georgia, serif;
font-weight: 700;
text-transform: uppercase;
font-size: 14px;
position: relative;
-webkit-transition: color .25s;
-moz-transition: color .25s;
-ms-transition: color .25s;
-o-transition: color .25s;
transition: color .25s;
}
#cssmenu ul li a:hover {
color: #333333;
}
#cssmenu ul li a:hover:before {
width: 100%;
}
#cssmenu ul li a:after {
content: "";
display: block;
position: absolute;
right: -3px;
top: 19px;
height: 6px;
width: 6px;
background: #ffffff;
opacity: .5;
}
#cssmenu ul li a:before {
content: "";
display: block;
position: absolute;
left: 0;
bottom: 0;
height: 3px;
width: 0;
background: #333333;
-webkit-transition: width .25s;
-moz-transition: width .25s;
-ms-transition: width .25s;
-o-transition: width .25s;
transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
display: none;
}
#cssmenu ul li.active a {
color: #333333;
}
#cssmenu ul li.active a:before {
width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
display: block;
}
#cssmenu.align-right li:first-child a:after {
display: none;
}
@media screen and (max-width: 768px) {
#cssmenu ul li {
    float: none;
    display: block;
}
#cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
}
#cssmenu ul li.last > a,
#cssmenu ul li:last-child > a {
    border: 0;
}
#cssmenu ul li a:after {
    display: none;
}
#cssmenu ul li a:before {
    display: none;
}
}
//end of import

h1 {
    font-size:@headersize;
}

p {
    display:inline-block;
    font-size:@fontbodysize;
    padding: 15px;
    padding-top:0px;
    display: inline-block;
        // flex-direction: row;
        // flex-wrap: wrap;
        // justify-content: flex-start;
        // align-items: stretch;
        // align-content: stretch;
        text-align:left;
    border: 10px black solid;
}

.mainsection {
    border: 5px solid blue;
}


.mainsection div {//this wraps the entire div, any setting here applies to the inside of the div. 
    padding:@contentpadding;
    padding-left:50px;
    border: 5px red solid;
        display: inline-block;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        text-align:center;
        height:@contentsize;
        width:@contentsize;
        h2{
            padding:@contentpadding;
            margin-left:35px;
            padding-bottom:0px;
            text-align:left;
            border: 9px aqua solid;
        }
}

.recipeblock1, .recipeblock2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
        
        
}

button{
    height:50px;
    width:180px;
    border-radius:15px;
    border: 1px green solid;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    margin-top: 20px;
    margin-bottom: 30px;

}