@bodymargin:50px;
@bodymargin-top:20px;

//applies to everything.
@fontcolor:#1B1B1B;
@headersize: 20px;
@fontbodysize: 20px;
@imgwidth:100%;
@imgheight:100%;

@contentpadding:15px;
@contentsize:450px;


